<form method="post" action="/contacts">
    <div>
        <label>Email</label>
        <input type="email" name="email" />
    </div>
    <div>
        <label>Name</label>
        <input type="name" name="name" />
    </div>
    <div>
        <input type="submit" value="Send Contact Form"/>
    </div>
</form>